{% extends 'base.html' %}
{% load static %}
{% block main_content %}
    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="needs-validation" method="post" action="{% url 'register' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" name="email"
                                        id="email" aria-describedby="emailHelp"
                                        placeholder="Enter Email Address..." required>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user" name="password"
                                        id="password" placeholder="Password" required>
                                </div>

                               
                    
                                <fieldset class="row mt-3">
                                    <div class="col text-center">
                                      {% for user in user_roles %}
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="userrole" id="gridRadios{{user.id}}" value="{{user.id}}">
                                        <label class="form-check-label" for="gridRadios{{user.id}}">
                                           {{user.Role}}
                                        </label>
                                      </div>
                                      {% endfor %}
                                    </div>
                                </fieldset>

                                    
                        
                                    
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100" type="submit">Register</button>
                                  </div>
                                <hr>
                                
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="{% url 'forgotpassword_page' %}">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="{% url 'login_page' %}">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

{% endblock %}